.index__select{
    width:100%;
    display: flex;
    margin-top:20px;
}

.color__select{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0 50px;
}

.non-color__select{
    color: #5F5F5F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.line{
    height:2px;
    background: #5F5F5F;
}

.item__content{
    position: relative;
    border-radius: 4px;
    margin: 10px;
    width:15%;
    margin-bottom: 20px;
}

.item__image{
    width:100%;
    position: relative;
    height: auto;
    display: block;
}

.item img{
    border-radius: 4px;
    background: #D9D9D9;
    width:100%;
    height:auto;
}

.item__wrap {
    display: flex;
    flex-wrap: wrap;
    /* 行があふれた場合に改行する */
    margin: 20px 0;
    justify-content: center;
    width:100%;
}

.item__price {
    position: absolute;
    /* 要素を絶対位置に配置 */
    bottom: 0;
    /* 下部に配置 */
    left: 0;
    /* 左側に配置 */
    padding: 5px 10px;
    /* 余白 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明の背景色 */
    color: #fff;
    /* テキスト色 */
    font-size: 14px;
    border-radius: 0 0 5px 5px;
    /* ボーダーの角を丸く */
}

.likes {
    position: absolute;
    /* 要素を絶対位置に配置 */
    top: 5px;
    /* 上部に配置 */
    right: 5px;
    /* 右側に配置 */
    font-size: 20px;
    color: #ff3d67;
    cursor: pointer;
}