.index__select{
    width:100%;
    display: flex;
    margin-top:20px;
}

.color__select{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin:0 50px;
}

.non-color__select{
    color: #5F5F5F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin:0 30px;
}

.likes {
    position: absolute;
    /* 要素を絶対位置に配置 */
    top: 5px;
    /* 上部に配置 */
    right: 5px;
    /* 右側に配置 */
    font-size: 20px;
    color: #ff3d67;
    cursor: pointer;
}

.item__title{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px;
}

.soldout-label {
    background-color: red;
    /* 赤い背景色 */
    color: white;
    /* 白いテキスト色 */
    padding: 5px 10px;
    /* パディングを追加してラベルを装飾 */
    border-radius: 5px;
    /* 角丸のボーダー */
    position: absolute;
    /* 絶対位置指定 */
    top: 10px;
    /* 上から10pxの位置に配置 */
    left: 10px;
    /* 左から10pxの位置に配置 */
    z-index: 1;
    /* オーバーレイの要素よりも手前に表示 */
}

.form__wrap{
    font-size:20px;
    font-weight: 400;
    display: flex;
    margin-left:auto;
    width:50%;
}

@media (max-width: 768px) {
    .form__wrap {
        display: block;
        margin-left: auto;
        width: 50%;
    }
    .soldout-label {
        top: 0px;
        padding: 5px 10px;
        font-size:20px;
    }
}

