.index__select{
    width:100%;
    display: flex;
    margin-top:20px;
}

.color__select{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0 50px;
}

.non-color__select{
    color: #5F5F5F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.line{
    height:2px;
    background: #5F5F5F;
}



.likes {
    position: absolute;
    /* 要素を絶対位置に配置 */
    top: 5px;
    /* 上部に配置 */
    right: 5px;
    /* 右側に配置 */
    font-size: 20px;
    color: #ff3d67;
    cursor: pointer;
}

.item__title{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px;
}